/* SCCS Document */

// color

$colorBlack: #000;
$colorWhite: #FFF;
$colorBlue: #30a4d5;

// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto');

$roboto: 'Roboto', sans-serif;


//
body { padding: 0; margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

h1, h2, h3, h4, p {
    font-family: $roboto;
}

a {
    text-decoration: none;
    color: $colorBlack;
}

a:hover {
    text-decoration: none;
    color: $colorBlue;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}

.container *{
    box-sizing: border-box;
}

.row:before, 
.row:after {
	 content:"";
	 display: table ;
	 clear:both;
 }

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 16.66%; 
    padding: 15px;
}

.col-1{
    width: 16.66%; 
}
.col-2{
    width: 33.33%; 
}
.col-3{
    width: 50%; 
}
.col-4{
    width: 66.664%;
}
.col-5{
    width: 83.33%;
}
.col-6{
    width: 100%;
}

// Responsive 
@media all and (max-width:800px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }
}

@media all and (max-width:650px){
    .col-1{ width: 50%;        }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
}

.icon-sm {
    width: 50px;
    height: auto;
}

.icon-md {
    width: 100px;
    height: auto;
}

.center-text {
    text-align: center;
}

.center-block {
    display: block;
    margin: 0 auto;
}

/*Content*/
.content {
	background: $colorWhite;
}

#findout {
    background: #77c3e6;
    color: $colorWhite;
    padding-left: 70px;

    h1 {
        margin: 40px 0;
    }

    img {
        margin-bottom: 25px;
    }

    a {
        color: $colorWhite;
    }


}


.more {
    height: 3px;
    width: 20%;
    background: $colorWhite;
    margin: 50px 0 20px 0;
    border: none;
}

